<?xml version="1.0"?>
<!--
  ~ Copyright (c) Zengliwei. All rights reserved.
  ~ Each source file in this distribution is licensed under OSL 3.0, see LICENSE for details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <smtp>
                <transport_method>default</transport_method>
                <debug>0</debug>
                <auth_method>login</auth_method>
                <auth_protocol>tls</auth_protocol>
                <from_smtp_user>1</from_smtp_user>
            </smtp>
        </system>
    </default>
</config>
