<?xml version="1.0"?>
<!--
  ~ Copyright (c) Zengliwei. All rights reserved.
  ~ Each source file in this distribution is licensed under OSL 3.0, see LICENSE for details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Register the `store` option in order to get correct store configruation -->
    <type name="Magento\Framework\Mail\Template\TransportBuilder">
        <plugin name="email_transport_builder"
                type="CrazyCat\Email\Plugin\EmailTransportBuilder"/>
    </type>

    <!-- Rebuild Email transport method, use SMTP or other 3rd party method instead -->
    <type name="Magento\Framework\Mail\TransportInterface">
        <plugin name="email_transport"
                type="CrazyCat\Email\Plugin\EmailTransport"/>
    </type>

</config>
