<?xml version="1.0"?>
<!--
  ~ Copyright (c) Zengliwei. All rights reserved.
  ~ Each source file in this distribution is licensed under OSL 3.0, see LICENSE for details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system">
            <group id="smtp">
                <label>Mail Sending Settings</label>
                <field id="transport_method" translate="label" type="select" sortOrder="15"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Transport Method</label>
                    <source_model>CrazyCat\Email\Model\Config\Source\TransportMethods</source_model>
                </field>
                <field id="host" canRestore="0">
                    <comment>For all server platform.</comment>
                    <depends>
                        <field id="transport_method">smtp</field>
                    </depends>
                </field>
                <field id="port" canRestore="0">
                    <depends>
                        <field id="transport_method">smtp</field>
                    </depends>
                </field>
                <field id="smtp_user" translate="label" type="text" sortOrder="35"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SMTP User</label>
                    <depends>
                        <field id="transport_method">smtp</field>
                    </depends>
                </field>
                <field id="smtp_password" translate="label" type="password" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SMTP Password</label>
                    <depends>
                        <field id="transport_method">smtp</field>
                    </depends>
                </field>
                <field id="test_connect" translate="button_label" sortOrder="45"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>CrazyCat\Email\Block\Adminhtml\System\Config\TestEmail</frontend_model>
                    <depends>
                        <field id="transport_method">smtp</field>
                    </depends>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="999"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Debug Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
